@import 'reset';

.header {
  position: absolute;
  color: #000000;
  font-family: "Trebuchet MS";
  text-align: left;
  left: 2%;
}

#threeHundred {
  position: absolute;
  color: #8e0006;
  min-height: 20%;
  min-width: 20%;
}

.bodyText {
  position: absolute;
  top: 10%;
  font-family: "Georgia";
}