@import 'reset';

body {
  background: linear-gradient(darkred, black) no-repeat top;
  background-size: cover;
  min-height: 100%;
}

.header {
  color: #000000;
  font-family: "Trebuchet MS";
  text-align: left;
  font-size: 300%;
}

.bodyParagraph {
  margin: 2% 0 2% 0;
  line-height: 30px;
  font-weight: bold;
}

.bodyText {
  font-family: "Georgia";
  font-weight: bold;
}

#blackBox {
  background-color: white;
  margin: 5% 10% 5% 10%;
  border: solid black 4px;
  text-align: justify;
  padding: 3% 5% 3% 5%;
}

#bigHeader {
  float: left;
}

#threeHundred {
  color: #c50006;
  min-height: 20%;
  min-width: 20%;
}

#smallHeader {
  min-height: 20%;
  min-width: 20%;
  font-size: 50%;
  font-weight: bold;
  margin: 2% 2% 2% 0;
}

#publishDate {
  min-height: 20%;
  min-width: 20%;
  font-size: 25%;
  margin: 2% 2% 2% 0;
}

#comparison {
  float: right;
  margin-top: 5%;
}

#xerxes {
  float: left;
  margin-top: 5%;
  margin-right: 2%;
}

#quote {
  margin: 2% 2% 2% 5%;
}

#noKill {
  font-weight: bold;
  font-size: 80%;
  line-height: 15px;
}

#cliff img {
  float: bottom;
  min-width: 100%;
}